<div *ngIf="client">
  <h2>Client {{client.name}} details</h2>
  <div>
    <label>Name: </label> {{client.name}}
    <input [(ngModel)]="client.name" placeholder="name">
  </div>
  <div>
    <label>Phone number: </label> {{client.phoneNb}}
    <input [(ngModel)]="client.phoneNb" placeholder="phoneNb">
  </div>
  <div>
    <label>Gender: </label> {{client.gender}}
    <input [(ngModel)]="client.gender" placeholder="gender">
  </div>
  <div>
    <label>Age: </label> {{client.age}}
    <input [(ngModel)]="client.age" placeholder="age">
  </div>
  <button (click)="goBack()">Back</button>
</div>
