<div *ngIf="book">
  <h2>Book {{book.title}} details</h2>
  <div>
    <label>Category: </label> {{book.category}}
    <input [(ngModel)]="book.category" placeholder="category">
  </div>
  <div>
    <label>Title: </label> {{book.title}}
    <input [(ngModel)]="book.title" placeholder="title">
  </div>
  <div>
    <label>Author: </label> {{book.author}}
    <input [(ngModel)]="book.author" placeholder="author">
  </div>
  <div>
    <label>Year: </label> {{book.year}}
    <input [(ngModel)]="book.year" placeholder="year">
  </div>
  <div>
    <label>Price: </label> {{book.price}}
    <input [(ngModel)]="book.price" placeholder="price">
  </div>
  <button (click)="goBack()">Back</button>
</div>
